#main-nav {
  .nav-item {
    margin-left: 1rem;
    .nav-link {
      font-size: $font-size-sm;
      text-transform: uppercase;
      font-weight: $font-weight-light;
      letter-spacing: 1.4px;
    }
  }
}