.main-header {
    background: url(/public/images/header-image.jpg) no-repeat center center;
    background-size: cover;
    .hero-content {
        padding: 20% 0;
    }
}

.team {
    .card-text {
        text-transform: uppercase;
        font-weight: $font-weight-light;
        font-size: $font-size-xs;
        letter-spacing: 4px;
    }
}

#services-nav-tab {
    .nav-item {
        border: none;
    }
    .nav-link {
        color: $gray-dark;
        &:hover {
            color: $dark;
        }
    }
    i {
        font-size: 3rem;
        padding: 1rem 2rem;
    }
    .active {
        color: $dark;
    }
}

.nav-tabs {
    border: none;
}

.imac {
    max-width: 90%;
    height: auto;
    margin-top: -80px;
}

.banner-with-imac {
    p {
        font-size: $font-size-xs;
    }
}

#portfolio {
    img {
        padding-bottom: 10px;
    }
}

#portfolio-nav-tab {
    .nav-item {
        border: none;
    }
    .nav-link {
        color: $gray-dark;
        &:hover {
            color: $dark;
        }
    }
    .active {
        color: $dark;
    }
}

#why-us {
    i {
        font-size: 3rem;
    }
    h6 {
        margin: 1rem 0;
    }
    p {
        text-align: left;
        font-size: $font-size-sm;
        color: $text-muted;
    }
}

#testimonials {
    i {
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    cite {
        font-size: $font-size-xs;
    }
}

#carouselExampleIndicators {
    .carousel-indicators {
        bottom: -40px;
        li {
            width: 7px;
            height: 7px;
            border-radius: 50%;
        }
    }
}
