.main-header {
  background: url(/public/images/header-image.jpg) no-repeat center center;
  background-size: cover;

  .hero-content {
    padding: 20% 0;
  }
}

.team {
  .card-text {
    text-transform: uppercase;
    font-weight: $font-weight-light;
    font-size: 0.7rem;
  }
}


// Section: Services
#services-nav-tab {
    .nav-item {
        border: none;
    }

    .nav-link {
        color: $gray-dark;

        &:hover {
            color: $dark;
        }
    }

    i {
        font-size: 4rem;
        padding: 1rem 2rem;
    }

    .active {
        color: $dark;
    }
}

.nav-tabs {
    border: none;
}

// Section: banner with iMac
.imac {
    max-width: 100%;
    height: auto;
    margin-top: -80px;
}

#banner-with-imac {
    p {
        font-size: $font-size-sm;
    }
}