.main-header {
    background: url(/public/images/header-image.jpg) no-repeat center center;
    background-size: cover;
    .hero-content {
        padding: 20% 0;
    }
}

.team {
    .card-text {
        text-transform: uppercase;
        font-weight: $font-weight-light;
        font-size: $font-size-xs;
        letter-spacing: 4px;
    }
}

#services-nav-tab {
    .nav-item {
        border: none;
    }
    .nav-link {
        color: $gray-dark;
        &:hover {
            color: $dark;
        }
    }
    i {
        font-size: 3rem;
        padding: 1rem 2rem;
    }
    .active {
        color: $dark;
    }
}

.nav-tabs {
    border: none;
}

.imac {
    max-width: 90%;
    height: auto;
    margin-top: -80px;
}

.banner-with-imac {
    p {
        font-size: $font-size-xs;
    }
}

#portfolio {
    img {
        padding: 5px;
    }
}

#portfolio-nav-tab {
    .nav-item {
        border: none;
    }
    .nav-link {
        color: $gray-dark;
        &:hover {
            color: $dark;
        }
    }
    .active {
        color: $dark;
    }
}

#why-us {
    i {
        margin: 0 auto;
        font-size: 4rem;
    }

    h6 {
        margin: 2rem 0;
    }

    p {
        text-align: left;
    }
}
