<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

        <title>PSD to HTML</title>
    </head>

    <body>
        <!-- Section Header -->
        <header class="main-header" id="header">
            <div class="overlay-dark">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent" id="main-nav">
                        <a class="navbar-brand ml-5" href="#">
                            <img src="/public/images/Logo.png">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ml-auto mr-5">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#header">Home
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#about">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Works</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Content</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!-- /.container-fluid -->

                <!-- Section Hero -->
                <div class="container">
                    <div class="row text-center align-content-center">
                        <div class="col-12 hero-content">
                            <h3 class="display-3 text-white">Thomas Rythm</h3>
                            <p class="text-muted mt-3">EXTRAODINARY ART DIRECTOR AND CREATIVE MINIMALISM LOVER</p>
                            <p>
                                <a href="" class="btn btn-light mt-3">Learn More</a>
                                <!-- /.btn btn-light -->
                            </p>
                        </div>
                        <!-- /.col-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->

            </div>
        </header>

        <!-- Section About -->
        <section id="about">
            <div class="container py-5">
                <h4>About Studio</h4>
                <div class="row mt-3">
                    <div class="col-md-4">
                        <blockquote>
                            <p>Design is not making beauty, beauty emerges from selection, affinities, integration, love.</p>
                            <cite>Louis Kahn</cite>
                        </blockquote>
                    </div>
                    <!-- /.col-md-4 -->
                    <div class="col-md-4">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sed a quas voluptate iste placeat mollitia laboriosam. Quia harum veritatis quod minima rerum maxime expedita sequi, optio nostrum reiciendis delectus.</p>
                    </div>
                    <!-- /.col-md-4 -->
                    <div class="col-md-4">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt dolore optio obcaecati reiciendis molestias beatae odio debitis eligendi cupiditate voluptas, consequuntur corporis et quibusdam quidem neque nisi velit harum non.</p>
                    </div>
                    <!-- /.col-md-4 -->
                </div>
                <!-- /.row -->
                <div class="card-deck team mt-5">
                    <div class="card text-center">
                        <img class="card-img-top" src="http://loremflickr.com/g/370/450/abstract/">
                        <div class="card-body">
                            <h5 class="card-title">John Doe</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="card text-center">
                        <img class="card-img-top" src="http://loremflickr.com/g/370/450/city/">
                        <div class="card-body">
                            <h5 class="card-title">Jane Doe</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="card text-center">
                        <img class="card-img-top" src="http://loremflickr.com/g/370/450/animals/">
                        <div class="card-body">
                            <h5 class="card-title">James Doe</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet.</p>
                        </div>

                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /#about -->

        <hr>

        <!-- Section Services -->
        <section id="services pb-5">
            <div class="container">
                <h5 class="text-center py-5">Services</h5>

                <nav>

                    <div class="nav nav-tabs justify-content-between" id="services-nav-tab" role="tablist">

                        <a class="nav-item nav-link text-center active" id="nav-branding-tab" data-toggle="tab" href="#nav-branding" role="tab" aria-controls="nav-branding" aria-selected="true">
                            <i class="icon-strategy pb-3"></i>
                            <h5>Branding</h5>
                        </a>

                        <a class="nav-item nav-link text-center" id="nav-web-design-tab" data-toggle="tab" href="#nav-web-design" role="tab" aria-controls="nav-web-design" aria-selected="false">
                            <i class="icon-desktop pb-3"></i>
                            <h5>Web Design</h5>
                        </a>

                        <a class="nav-item nav-link text-center" id="nav-graphic-design-tab" data-toggle="tab" href="#nav-graphic-design" role="tab" aria-controls="nav-graphic-design" aria-selected="false">
                            <i class="icon-tools pb-3"></i>
                            <h5>Graphic Design</h5>
                        </a>

                        <a class="nav-item nav-link text-center" id="nav-development-tab" data-toggle="tab" href="#nav-development" role="tab" aria-controls="nav-development" aria-selected="false">
                            <i class="icon-gears pb-3"></i>
                            <h5>Development</h5>
                        </a>

                        <a class="nav-item nav-link text-center" id="nav-photography-tab" data-toggle="tab" href="#nav-photography" role="tab" aria-controls="nav-photography" aria-selected="false">
                            <i class="icon-camera pb-3"></i>
                            <h5>Photography</h5>
                        </a>

                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">

                    <div class="tab-pane fade show active" id="nav-branding" role="tabpanel" aria-labelledby="nav-branding-tab">
                        <div class="row mt-3">

                            <div class="col-md-4">
                                <blockquote>

                                    <p>A brand for a company is like a reputation for a person. You earn reputation by trying to do hard things well.</p>
                                    <cite>Jeff Bezos</cite>
                                </blockquote>

                            </div>
                            <!-- /.col-md-4 -->

                            <div class="col-md-4">

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sed a quas voluptate iste placeat mollitia laboriosam. Quia harum veritatis quod minima rerum maxime expedita sequi, optio nostrum reiciendis delectus.</p>

                            </div>
                            <!-- /.col-md-4 -->

                            <div class="col-md-4">

                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt dolore optio obcaecati reiciendis molestias beatae odio debitis eligendi cupiditate voluptas, consequuntur corporis et quibusdam quidem neque nisi velit harum non.</p>

                            </div>
                            <!-- /.col-md-4 -->

                        </div>
                        <!-- /.row -->
                    </div>
                    <div class="tab-pane fade" id="nav-web-design" role="tabpanel" aria-labelledby="nav-web-design-tab">

                        <div class="row mt-3">

                            <div class="col-md-4">
                                <blockquote>

                                    <p>A brand for a company is like a reputation for a person. You earn reputation by trying to do hard things well.</p>
                                    <cite>John Doe</cite>
                                </blockquote>

                            </div>
                            <!-- /.col-md-4 -->

                            <div class="col-md-4">

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sed a quas voluptate iste placeat mollitia laboriosam. Quia harum veritatis quod minima rerum maxime expedita sequi, optio nostrum reiciendis delectus.</p>

                            </div>
                            <!-- /.col-md-4 -->

                            <div class="col-md-4">

                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt dolore optio obcaecati reiciendis molestias beatae odio debitis eligendi cupiditate voluptas, consequuntur corporis et quibusdam quidem neque nisi velit harum non.</p>

                            </div>
                            <!-- /.col-md-4 -->

                        </div>
                        <!-- /.row -->

                    </div>
                    <div class="tab-pane fade" id="nav-graphic-design" role="tabpanel" aria-labelledby="nav-graphic-design-tab">

                        <div class="row mt-3">

                            <div class="col-md-4">
                                <blockquote>

                                    <p>A brand for a company is like a reputation for a person. You earn reputation by trying to do hard things well.</p>
                                    <cite>Jane Doe</cite>
                                </blockquote>

                            </div>
                            <!-- /.col-md-4 -->

                            <div class="col-md-4">

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sed a quas voluptate iste placeat mollitia laboriosam. Quia harum veritatis quod minima rerum maxime expedita sequi, optio nostrum reiciendis delectus.</p>

                            </div>
                            <!-- /.col-md-4 -->

                            <div class="col-md-4">

                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt dolore optio obcaecati reiciendis molestias beatae odio debitis eligendi cupiditate voluptas, consequuntur corporis et quibusdam quidem neque nisi velit harum non.</p>

                            </div>
                            <!-- /.col-md-4 -->

                        </div>
                        <!-- /.row -->

                    </div>
                    <div class="tab-pane fade" id="nav-development" role="tabpanel" aria-labelledby="nav-development-tab">

                        <div class="row mt-3">

                            <div class="col-md-4">
                                <blockquote>

                                    <p>A brand for a company is like a reputation for a person. You earn reputation by trying to do hard things well.</p>
                                    <cite>Edward Doe</cite>
                                </blockquote>

                            </div>
                            <!-- /.col-md-4 -->

                            <div class="col-md-4">

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sed a quas voluptate iste placeat mollitia laboriosam. Quia harum veritatis quod minima rerum maxime expedita sequi, optio nostrum reiciendis delectus.</p>

                            </div>
                            <!-- /.col-md-4 -->

                            <div class="col-md-4">

                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt dolore optio obcaecati reiciendis molestias beatae odio debitis eligendi cupiditate voluptas, consequuntur corporis et quibusdam quidem neque nisi velit harum non.</p>

                            </div>
                            <!-- /.col-md-4 -->

                        </div>
                        <!-- /.row -->

                    </div>
                    <div class="tab-pane fade" id="nav-photography" role="tabpanel" aria-labelledby="nav-photography-tab">

                        <div class="row mt-3">

                            <div class="col-md-4">
                                <blockquote>

                                    <p>A brand for a company is like a reputation for a person. You earn reputation by trying to do hard things well.</p>
                                    <cite>Noah Pinson</cite>
                                </blockquote>

                            </div>
                            <!-- /.col-md-4 -->

                            <div class="col-md-4">

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sed a quas voluptate iste placeat mollitia laboriosam. Quia harum veritatis quod minima rerum maxime expedita sequi, optio nostrum reiciendis delectus.</p>

                            </div>
                            <!-- /.col-md-4 -->

                            <div class="col-md-4">

                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt dolore optio obcaecati reiciendis molestias beatae odio debitis eligendi cupiditate voluptas, consequuntur corporis et quibusdam quidem neque nisi velit harum non.</p>

                            </div>
                            <!-- /.col-md-4 -->

                        </div>
                        <!-- /.row -->

                    </div>
                </div>
            </div>
            <!-- /.container -->
        </section>
        <!-- /#services -->

        <br><br>

        <!-- Section banner with iMac -->

        <section class="banner-with-imac" class="my-5">
            <div class="container-fluid bg-dark py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 align-self-center">
                            <h5 class="text-white">Looking for exclusive digital services?</h5>
                            <p class="text-gray my-3">Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Integer non dapibus diam, ac eleifend lectus.</p>
                            <a href="#" class="btn btn-light letsTalk">Let's Talk</a>

                        </div>
                        <!-- /.col-md-6 -->
                        <div class="col-md-6 text-center">
                            <img class="iMac" src="/public/images/iMac.png">
                        </div>
                        <!-- /.col-md-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.container-fluid bg-dark -->
        </section>
        <!-- /.banner-with-imac -->

        <br>

        <!-- Section Portfolio -->
        <section id="portfolio">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col">
                <h5 class="text-center py-5">Portfolio</h5>
                <p class="text-center pb-5">In auctor ex id urna faucibus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper metus pellentesque mattis. Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum nibh volutpat, accumsan purus.</p>
                </div>
            </div>

            <nav>
                <div class="nav nav-tabs justify-content-center" id="portfolio-nav-tab" role="tablist">

                    <a class="nav-item nav-link active" id="nav-all-works-tab" data-toggle="tab" href="#nav-all-works" role="tab" aria-controls="nav-all-works" aria-selected="true">
                        <h5 class="mb-1">All Works</h5>
                    </a>

                    <a class="nav-item nav-link" id="nav-branding2-tab" data-toggle="tab" href="#nav-branding2" role="tab" aria-controls="nav-branding2" aria-selected="false">
                        <h5 class="mb-1">Branding</h5>
                    </a>

                    <a class="nav-item nav-link" id="nav-design-tab" data-toggle="tab" href="#nav-design" role="tab" aria-controls="nav-design" aria-selected="false">
                        <h5 class="mb-1">Design</h5>
                    </a>

                    <a class="nav-item nav-link" id="nav-photography2-tab" data-toggle="tab" href="#nav-photography2" role="tab" aria-controls="nav-photography2" aria-selected="false">
                        <h5 class="mb-1">Photography</h5>
                    </a>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">

                    <div class="tab-pane fade pb-2 show active" id="nav-all-works" role="tabpanel" aria-labelledby="nav-all-works-tab">
                        <div class="card-deck team mt-5">
                        
                            <div class="card text-center ml-0 mr-2">
                                <img class="card-img-top" src="http://loremflickr.com/g/650/500/abstract/">
                            </div>
                        
                            <div class="card text-center ml-0 mr-2">
                                <img class="card-img-top" src="http://loremflickr.com/g/650/500/city/">
                            </div>
                        
                            <div class="card text-center ml-0 mr-2">
                                <img class="card-img-top" src="http://loremflickr.com/g/650/500/abstract/">
                                </div>

                        </div>

                        <div class="card-deck team mt-2">

                            <div class="card text-center ml-0 mr-2">
                                <img class="card-img-top" src="http://loremflickr.com/g/650/500/city/">
                            </div>

                            <div class="card text-center ml-0 mr-2">
                                <img class="card-img-top" src="http://loremflickr.com/g/650/500/abstract/">
                            </div>

                            <div class="card text-center ml-0 mr-2">
                                <img class="card-img-top" src="http://loremflickr.com/g/650/500/city/">
                            </div>

                        </div>
                    </div>         

                    <div class="tab-pane fade pb-2" id="nav-branding2" role="tabpanel" aria-labelledby="nav-branding2-tab">

                        <div class="card-deck team mt-5">
                        
                            <div class="card text-center ml-0 mr-2">
                                <img class="card-img-top" src="http://loremflickr.com/g/650/500/animals/">
                        
                            </div>
                        
                            <div class="card text-center ml-0 mr-2">
                                <img class="card-img-top" src="http://loremflickr.com/g/650/500/city/">
                        
                            </div>
                        
                            <div class="card text-center ml-0 mr-2">
                                <img class="card-img-top" src="http://loremflickr.com/g/650/500/animals/">
                        
                            </div>
                        
                        </div>
                        
                        <div class="card-deck team mt-2">
                        
                            <div class="card text-center ml-0 mr-2">
                                <img class="card-img-top" src="http://loremflickr.com/g/650/500/animals/">
                        
                            </div>
                        
                            <div class="card text-center ml-0 mr-2">
                                <img class="card-img-top" src="http://loremflickr.com/g/650/500/abstract/">
                        
                            </div>
                        
                            <div class="card text-center ml-0 mr-2">
                                <img class="card-img-top" src="http://loremflickr.com/g/650/500/animals/">
                        
                            </div>
                        
                        </div>

                    </div>

                    <div class="tab-pane fade pb-2" id="nav-design" role="tabpanel" aria-labelledby="nav-design-tab">

                        <div class="card-deck team mt-5">
                        
                            <div class="card text-center ml-0 mr-2">
                                <img class="card-img-top" src="http://loremflickr.com/g/650/500/city/">
                        
                            </div>
                        
                            <div class="card text-center ml-0 mr-2">
                                <img class="card-img-top" src="http://loremflickr.com/g/650/500/city/">
                        
                            </div>
                        
                            <div class="card text-center ml-0 mr-2">
                                <img class="card-img-top" src="http://loremflickr.com/g/650/500/abstract/">
                        
                            </div>
                        
                        </div>
                        
                        <div class="card-deck team mt-2">
                        
                            <div class="card text-center ml-0 mr-2">
                                <img class="card-img-top" src="http://loremflickr.com/g/650/500/city/">
                        
                            </div>
                        
                            <div class="card text-center ml-0 mr-2">
                                <img class="card-img-top" src="http://loremflickr.com/g/650/500/abstract/">
                        
                            </div>
                        
                            <div class="card text-center ml-0 mr-2">
                                <img class="card-img-top" src="http://loremflickr.com/g/650/500/abstract/">
                        
                            </div>
                        
                        </div>

                    </div>

                    <div class="tab-pane fade pb-2" id="nav-photography2" role="tabpanel" aria-labelledby="nav-photography2-tab">

                        <div class="card-deck team mt-5">
                        
                            <div class="card text-center ml-0 mr-2">
                                <img class="card-img-top" src="http://loremflickr.com/g/650/500/animals/">
                        
                            </div>
                        
                            <div class="card text-center ml-0 mr-2">
                                <img class="card-img-top" src="http://loremflickr.com/g/650/500/city/">
                        
                            </div>
                        
                            <div class="card text-center ml-0 mr-2">
                                <img class="card-img-top" src="http://loremflickr.com/g/650/500/abstract/">
                        
                            </div>
                        
                        </div>
                        
                        <div class="card-deck team mt-2">
                        
                            <div class="card text-center ml-0 mr-2">
                                <img class="card-img-top" src="http://loremflickr.com/g/650/500/city/">
                        
                            </div>
                        
                            <div class="card text-center ml-0 mr-2">
                                <img class="card-img-top" src="http://loremflickr.com/g/650/500/abstract/">
                        
                            </div>
                        
                            <div class="card text-center ml-0 mr-2">
                                <img class="card-img-top" src="http://loremflickr.com/g/650/500/animals/">
                        
                            </div>
                        
                        </div>

                    </div>

                </div>
            </div>
            <!-- /.container -->
        </section>

        <section id="like-our-works">
            <div class="container-fluid bg-dark py-5">
                <div class="row">
                    <div class="col-md align-self-center text-center text-gray">
                        <h5>LIKE OUR CREATIVE WORKS?</h5>
                        <a href="#" class="btn btn-gray mt-3">Start Project</a>
                    </div>
                    <!-- /.col-md align-self-center text-center text-gray -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid bg-dark py-5 -->
        </section>

        <!-- Section Why Us -->
        <section id="why-us">
            <div class="container py-5">
                <h3 class=" text-center mb-3 py-5">Why Choose Us?</h3>
                <div class="row pb-5">
                    <div class="col-md-4 text-center">
                        <i class="icon-flag pb-4"></i>
                        <h5 class="pb-2">We're Creative</h5>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod delectus dicta doloremque ipsam ullam placeat reiciendis minima laborum, ducimus repudiandae!</p>
                    </div>
                    <!-- /.col-md-4 -->
                    <div class="col-md-4 text-center">
                    <i class="icon-clock pb-4"></i>
                    <h5 class="pb-2">We're Punctual</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod delectus dicta doloremque ipsam ullam placeat reiciendis minima laborum, ducimus repudiandae!</p></div>
                    <!-- /.col-md-4 -->
                    <div class="col-md-4 text-center">
                    <i class="icon-hotairballoon pb-4"></i>
                    <h5 class="pb-2">We Have Magic</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod delectus dicta doloremque ipsam ullam placeat reiciendis minima laborum, ducimus repudiandae!</p></div>
                    <!-- /.col-md-4 -->
                </div>
                <!-- /.row -->
                <div class="row pb-5">
                
                    <div class="col-md-4 text-center">
                        <i class="icon-heart pb-4"></i>
                        <h5 class="pb-2">We Love Minimalism</h5>
                
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod delectus dicta doloremque ipsam ullam placeat reiciendis minima laborum, ducimus repudiandae!</p>
                
                    </div>
                    <!-- /.col-md-4 -->
                
                    <div class="col-md-4 text-center">
                        <i class="icon-linegraph pb-4"></i>
                        <h5 class="pb-2">We're Responsible</h5>
                
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod delectus dicta doloremque ipsam ullam placeat reiciendis minima laborum, ducimus repudiandae!</p>
                
                    </div>
                    <!-- /.col-md-4 -->
                
                    <div class="col-md-4 text-center">
                        <i class="icon-chat pb-4"></i>
                        <h5 class="pb-2">We're Friendly</h5>
                
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod delectus dicta doloremque ipsam ullam placeat reiciendis minima laborum, ducimus repudiandae!</p>
                
                    </div>
                    <!-- /.col-md-4 -->
                
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /#why-us -->

        <!-- Section Testimonials-Scroll -->
        <section id="testimonials">
            <div class="container-fluid bg-dark text-center py-5 text-white">
                <div id="testimonials-slider" class="carousel slide" data-ride="carousel">
                
                    <ol class="carousel-indicators">
                
                        <li data-target="#testimonials-slider" data-slide-to="0" class="active"></li>
                
                        <li data-target="#testimonials-slider" data-slide-to="1"></li>
                
                        <li data-target="#testimonials-slider" data-slide-to="2"></li>
                    </ol>
                
                    <div class="carousel-inner">
                        <div class="carousel-item py-5 active">
                    <div class="row justify-content-md-center">
                        <div class="col-md-7">
                                    <i class="icon-quote pb-4"></i>
                                    <h5>What People Say?</h5>
                                    <p>
                                        <blockquote>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias fuga repellat, eveniet inventore eaque dignissimos?</blockquote>
                                        <cite>-JOHN DOE, DOODLE INC</cite>
                                    </p>
                            </div>
                        </div>
                    </div>
                        <div class="carousel-item py-5">
                            <div class="row justify-content-md-center">
                            <div class="col-md-7">
                                    <i class="icon-quote pb-4"></i>
                                    <h5>What People Say?</h5>
                                    <p>
                                        <blockquote>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias fuga repellat, eveniet inventore eaque dignissimos?</blockquote>
                                        <cite>-JOHN DOE, DOODLE INC</cite>
                                    </p>
                        </div>
                    </div>
                        </div>
                        <div class="carousel-item py-5">
                            <div class="row justify-content-md-center">
                            <div class="col-md-7">
                                    <i class="icon-quote pb-4"></i>
                                    <h5>What People Say?</h5>
                                    <p>
                                        <blockquote>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias fuga repellat, eveniet inventore eaque dignissimos?</blockquote>
                                        <cite>-John Doe, Doodle Inc</cite>
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
                    <a class="carousel-control-prev" href="#testimonials-slider" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#testimonials-slider" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    </div>
                </div>
            <!-- /.container-fluid -->
        </section>

        <!-- Section News -->
        <section id="news">
        <div class="container py-5">
            <div class="row justify-content-between">
            <h5 class="float-left">Latest News</h5>
            <a href="#" class="text-muted text-center">All News In Our Blog ></a>
            </div>
            <div class="row my-5">
                <div class="card-deck">
                
                    <div class="card">
                        <img class="card-img-top" src="http://loremflickr.com/g/800/470/abstract/" alt="Card image cap">
                
                        <div class="card-body">
                            <h5 class="card-title">New Web Design Trends</h5>
                            <h6 class="text-uppercase text-muted">John Doe | 10 December</h6>
                
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, maiores. Veritatis voluptatum tempora officiis eaque perspiciatis, aliquid debitis harum cum obcaecati voluptatibus sunt? Inventore ex aliquam tenetur rerum, numquam perspiciatis!</p>
                
                        </div>
                
                        <div class="card-footer">
                            <a href="#" class="btn btn-gray">Read More ></a>
                
                        </div>
                
                    </div>
                
                    <div class="card">
                        <img class="card-img-top" src="http://loremflickr.com/g/800/470/abstract/" alt="Card image cap">
                
                        <div class="card-body">
                            <h5 class="card-title">Minimalistic Design Forever</h5>
                            <h6 class="text-uppercase text-muted">John Doe | 11 December</h6>
                
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, maiores. Veritatis voluptatum tempora officiis eaque perspiciatis, aliquid debitis harum cum obcaecati voluptatibus sunt? Inventore ex aliquam tenetur rerum, numquam perspiciatis!</p>
                
                        </div>
                
                        <div class="card-footer">
                            <a href="#" class="btn btn-gray">Read More ></a>
                
                        </div>
                
                    </div>
                
                    <div class="card">
                        <img class="card-img-top" src="http://loremflickr.com/g/800/470/abstract/" alt="Card image cap">
                
                        <div class="card-body">
                            <h5 class="card-title">Hipsters Style In Web</h5>
                            <h6 class="text-uppercase text-muted">John Doe | 12 December</h6>
                
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, maiores. Veritatis voluptatum tempora officiis eaque perspiciatis, aliquid debitis harum cum obcaecati voluptatibus sunt? Inventore ex aliquam tenetur rerum, numquam perspiciatis!</p>
                
                        </div>
                
                        <div class="card-footer">
                            <a href="#" class="btn btn-gray">Read More ></a>
                
                        </div>
                
                    </div>
                
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        </section>
        <!-- /#news -->

        <!-- Section Newsletter -->
        <section id="newsletter">
        <div class="container-fluid bg-light py-5">
            <div class="row justify-content-center">
                <div class="col-4 text-center">
                    <h5>STAY INFORMED WITH OUR NEWSLETTER</h5>
                    <div class="input-group mb-3 my-3">
                        <input type="text" class="form-control" placeholder="Enter Your Email">
                            <button type="submit" class="btn btn-primary px-4">SUBSCRIBE</button>
                    </div>
                    <p>
                        <small class="text-muted"><i class="icon-caution"></i> Please trust us, we will never send you spam.</small>
                    </p>
                </div>
                <!-- /.col text-center -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
        </section>
        <!-- /#newsletter -->

        <br>

        <!-- Section Contact -->
        <section id="contact">
        <div class="container py-5">
            <h5 class="py-5 text-center">CONTACT</h5>
            <div class="row pb-3">
                <div class="col-md-4">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-2 float-right">
                            <div class="icon-bg">
                                <i class="fas fa-phone"></i>
                            </div>
                            <!-- /.icon -->
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-8">
                            <h6>CALL US</h6>
                            <p>555-555-5555</p>
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.col-md-4 -->
                <div class="col-md-4">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-2 float-right">
                            <div class="icon-bg">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <!-- /.icon -->
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-8">
                            <h6>ADDRESS</h6>
                            <p>255 Quigley Blv, Ste K</p>
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                </div>
                <!-- /.col-md-4 -->
                <div class="col-md-4">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-2 float-right">
                            <div class="icon-bg">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <!-- /.icon -->
                        </div>
                        <!-- /.col-md-4 -->
                        <div class="col-md-8">
                            <h6>EMAIL</h6>
                            <p>support@bestlooker.pro</p>
                        </div>
                        <!-- /.col-md-8 -->
                    </div>
                </div>
                <!-- /.col-md-4 -->
            </div>
            <!-- /.row -->
            
            <form action="">
                <div class="row justify-content-center">
                <div class="form-group col-md-5">
                    <input type="text" class="form-control w-100" name="name" placeholder="NAME">
                    <input type="email" class="form-control w-100 mt-3" name="email" placeholder="EMAIL">
                    <p class="mt-2">
                        <small class="text-muted">
                            <i class="icon-caution"></i> All Fields Are Required
                        </small>
                    </p>
                </div>
                <!-- /.col-md-5 -->
                <div class="form-group col-md-5">
                    <textarea class="form-control w-100" name="message" id="message" placeholder="MESSAGE" rows="3"></textarea>
                    <input type="submit" class="btn btn-primary float-right mt-4" value="Submit Message">
                </div>
                <!-- /.col-md-5 -->
            </div>
            <!-- /.row -->
            </form>

        </div>
        <!-- /.container -->
        </section>
        <!-- /#contact -->

        <!-- Section: Map -->
        <section id="map">
        <div class="conainer pb-5">
            <div class="row align-items-center">
                <div class="col map-container">
                    <div class="google-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d42600.99909049021!2d-123.82712972089844!3d48.137961000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1535490708124" class="w-100" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <!-- /.google-map -->
                    <div class="map-toggle text-center">
                        <div class="map-open">
                            <div class="icon-bg mt-2">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <!-- /.icon-bg mt-2 -->
                            <p class="my-2 open-map">Open Map 
                                <i class="fas fa-arrow-down"></i></p>
                        </div>
                        <!-- /.map-open -->
                        <div class="map-close">
                            <p class="my-2">Close Map 
                                <i class="fas fa-arrow-up"></i></p>
                        </div>
                        <!-- /.map-close -->
                    </div>
                    <!-- /.map-toggle -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.conainer -->
        </section>
        <!-- /#map -->

        <br><br>

        <!-- Section: Footer -->
        <section id="footer">
        <div class="container pt-5">
            <div class="row justify-content-center pb-4">
                <img src="/public/images/logo-mountains.png">
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <div class="icon-bg">
                        <i class="fab fa-facebook-f"></i>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="icon-bg">
                        <i class="fab fa-twitter"></i>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="icon-bg">
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="icon-bg">
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="icon-bg">
                        <i class="fab fa-pinterest"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

        <br><br>

        <div class="container justify-content-center text-center py-5">
            <h5>&copy RYTHM 2014</h5>
            <cite class="text-muted">Made with love for great people</cite>
        </div>

        <div class="float-right up-arrow mr-4">
                <a href="#header">
                    <i class="fa fa-sort-up text-muted"></i>
                </a>
            </div>
        </section>
        <!-- /#footer -->

    <script>
        document.querySelector('.map-open').addEventListener('click', function(){
            this.style.display = 'none';
            document.querySelector('.map-toggle').style.background = 'none';
            document.querySelector('.map-close').style.display = 'block';
        });

        document.querySelector('.map-close').addEventListener('click', function(){
            this.style.display = 'none';
            document.querySelector('.map-open').style.display = 'block';
            document.querySelector('.map-toggle').style.background = 'rgba(0, 0, 0, 0.8)';
        });
    </script>

    </body>

</html>
