<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>PSD to HTML</title>
    </head>

    <body>
        <header>
            <div class="container-fluid px-0">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="main-nav">
                    <a class="navbar-brand ml-5" href="#">
                        <img src="/public/images/Logo.png" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ml-auto mr-5">

                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Home
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Works</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Content</a>
                                </li>
                            </ul>
                        </div>
                </nav>
                </div>
                <!-- /.container-fluid -->
        </header>
    </body>

</html>
