<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>PSD to HTML</title>
    </head>

    <body>
        <header class="main-header" id="header">
            <div class="overlay-dark">
                <div class="container-fluid px-0">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top" id="main-nav">
                        <a class="navbar-brand ml-5" href="#">
                            <img src="/public/images/Logo.png" alt="">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-parent="#tab-content" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ml-auto mr-5">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#header">Home
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#about">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#services">Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="#portfolio">Works</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!-- /.container-fluid -->

                <!-- Hero -->
                <div class="container">
                    <div class="row justify-content-center align-content-center text-center">
                        <div class="col-12 hero-content text-white">
                            <h4 class="display-4 mb-5">Thomas Rhythm</h4>
                            <p>In dignissim, neque id sagittis iaculis, leo mi gravida elit, quis consequat sem metus quis metus.</p>
                            <p>
                                <a href="#" class="btn btn-gray mt-5" role="button">Learn More</a>
                            </p>
                        </div>
                        <!-- /.col-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.overlay-dark -->
        </header>

        <!-- Section: About -->
        <section id="about">
            <div class="container py-5">
                <h4>About Studio</h4>
                <div class="row mt-5">
                    <div class="col-md-4">
                        <blockquote>
                            <p>Design is not making beauty, beauty emerges from selection, affinities, integration, love.</p>

                            <cite>Louis Kahn</cite>
                        </blockquote>
                    </div>
                    <!-- /.col-md-4 -->
                    <div class="col-md-4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper metus pellentesque mattis. Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum nibh volutpat, accumsan purus. </p>
                    </div>
                    <!-- /.col-md-4 -->
                    <div class="col-md-4">
                        <p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus. Praesent sed nisi eleifend, fermentum orci amet, iaculis libero. Donec vel ultricies purus. Nam dictum sem, eu aliquam ipsum.</p>
                    </div>
                    <!-- /.col-md-4 -->
                </div>
                <!-- /.row -->
                <div class="card-deck text-center team mt-5">
                    <div class="card">
                        <img class="card-img-top" src="https://loremflickr.com/g/370/450/paris" alt="">
                        <div class="card-body">
                            <h6 class="card-title">Thomas Rhythm </h6>
                            <p class="card-text">Art Director</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="https://loremflickr.com/g/370/450/city" alt="">
                        <div class="card-body">
                            <h6 class="card-title">Marta Laning</h6>
                            <p class="card-text">Web Designer</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="https://loremflickr.com/g/370/450/abstract" alt="">
                        <div class="card-body">
                            <h6 class="card-title">Steve ANDERS</h6>
                            <p class="card-text">Developer</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </section>
        <!-- /#about -->
        <hr>
        <!-- Section: Services -->
        <section id="services" class="mb-5 pb-5">
            <div class="container py-5">
                <h4 class="text-center py-5">Services</h4>
                <nav>
                    <div class="nav nav-tabs justify-content-between" id="services-nav-tab" role="tablist">
                        <a class="nav-item nav-link active text-center" id="nav-branding-tab" data-toggle="tab" href="#nav-branding" role="tab" aria-controls="nav-branding" aria-selected="true">
                            <i class="icon-strategy pb-4"></i>
                            <h6>Branding</h6>
                            <!-- /.icon-strategy -->
                        </a>
                        <!-- nav-item -->
                        <a class="nav-item nav-link text-center" id="nav-web-design-tab" data-toggle="tab" href="#nav-web-design" role="tab" aria-controls="nav-web-design" aria-selected="true">
                            <i class="icon-desktop pb-4"></i>
                            <h6>Web Design</h6>
                            <!-- /.icon-strategy -->
                        </a>
                        <!-- nav-item -->
                        <a class="nav-item nav-link text-center" id="nav-graphic-design-tab" data-toggle="tab" href="#nav-graphic-design" role="tab" aria-controls="nav-graphic-design" aria-selected="true">
                            <i class="icon-tools pb-4"></i>
                            <h6>Graphic Design</h6>
                            <!-- /.icon-strategy -->
                        </a>
                        <!-- nav-item -->
                        <a class="nav-item nav-link text-center" id="nav-dev-tab" data-toggle="tab" href="#nav-dev" role="tab" aria-controls="nav-dev" aria-selected="true">
                            <i class="icon-gears pb-4"></i>
                            <h6>Development</h6>
                            <!-- /.icon-strategy -->
                        </a>
                        <!-- nav-item -->
                        <a class="nav-item nav-link text-center" id="nav-photo-tab" data-toggle="tab" href="#nav-photo" role="tab" aria-controls="nav-photo" aria-selected="true">
                            <i class="icon-camera pb-4"></i>
                            <h6>Photography</h6>
                            <!-- /.icon-strategy -->
                        </a>
                        <!-- nav-item -->
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-branding" role="tabpanel" aria-labelledby="nav-branding-tab">
                        <div class="row mt-5">
                            <div class="col-md-4">
                                <blockquote>
                                    <p>A brand for a company is like a reputation for a person. You earn reputation by trying to do hard things well.</p>
                                    <cite>JEFF BEZOS</cite>
                                </blockquote>
                            </div>
                            <!-- /.col-md-4 -->
                            <div class="col-md-4">
                                <p>Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit. In maximus ligula metus pellentesque mattis.</p>
                            </div>
                            <!-- /.col-md-4 -->
                            <div class="col-md-4">
                                <p>Donec vel ultricies purus. Nam dictum sem, ipsum aliquam . Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus. Praesent sed nisi eleifend, fermentum orci amet, iaculis libero.</p>
                            </div>
                            <!-- /.col-md-4 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- .tab-pane -->
                    <div class="tab-pane fade" id="nav-web-design" role="tabpanel" aria-labelledby="nav-web-design-tab">
                        <div class="row mt-5">
                            <div class="col-md-4">
                                <blockquote>
                                    <p>It doesn’t matter how many times I have to click, as long as each click is a mindless, unambiguous choice.</p>
                                    <cite>STEVE KRUG</cite>
                                </blockquote>
                            </div>
                            <!-- /.col-md-4 -->
                            <div class="col-md-4">
                                <p>Cras mi tortor, laoreet id ornare et, accumsan non magna. Maecenas vulputate accumsan velit. Curabitur a nulla ex. Nam a tincidunt ante. Vitae gravida turpis. Vestibulum varius nulla non nulla scelerisque tristique.</p>
                            </div>
                            <!-- /.col-md-4 -->
                            <div class="col-md-4">
                                <p>Mauris id viverra augue, eu porttitor diam. Praesent faucibus est a interdum elementum. Nam varius at ipsum id dignissim. Nam a tincidunt ante lorem. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor.</p>
                            </div>
                            <!-- /.col-md-4 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- .tab-pane -->
                    <div class="tab-pane fade" id="nav-graphic-design" role="tabpanel" aria-labelledby="nav-graphic-design-tab">
                        <div class="row mt-5">
                            <div class="col-md-4">
                                <blockquote>
                                    <p>Never fall in love with an idea. They’re whores. If the one you’re with isn’t doing the job, there’s always another.</p>
                                    <cite>CHIP KIDD</cite>
                                </blockquote>
                            </div>
                            <!-- /.col-md-4 -->
                            <div class="col-md-4">
                                <p>Lorem ipsum dolor sit semper amet, consectetur adipiscing elit. In maximus ligula metus pellentesque mattis. Donec vel ultricies purus. Nam dictum sem, ipsum aliquam . Praesent sed nisi eleifend, fermentum orci amet, iaculis libero.</p>
                            </div>
                            <!-- /.col-md-4 -->
                            <div class="col-md-4">
                                <p>Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus. Etiam sit amet fringilla lacus. Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum volutpat nibh, accumsan purus.</p>
                            </div>
                            <!-- /.col-md-4 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- .tab-pane -->
                    <div class="tab-pane fade" id="nav-dev" role="tabpanel" aria-labelledby="nav-dev-tab">
                        <div class="row mt-5">
                            <div class="col-md-4">
                                <blockquote>
                                    <p>All that is valuable in human society depends upon the opportunity for development accorded the individual.</p>
                                    <cite>ALBERT EINSTEIN</cite>
                                </blockquote>
                            </div>
                            <!-- /.col-md-4 -->
                            <div class="col-md-4">
                                <p>Fusce hendrerit vitae nunc id gravida. Donec euismod quis ante at mattis. Mauris dictum ante sit amet enim interdum semper. Vestibulum odio justo, faucibus et dictum eu, malesuada nec neque. Maecenas volutpat, diam enim sagittis.</p>
                            </div>
                            <!-- /.col-md-4 -->
                            <div class="col-md-4">
                                <p>Fusce hendrerit vitae nunc id gravida. Donec euismod quis ante at mattis. Mauris dictum ante sit amet enim interdum semper. Vestibulum odio justo, faucibus et dictum eu, malesuada nec neque. Maecenas volutpat, diam enim sagittis.</p>
                            </div>
                            <!-- /.col-md-4 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- .tab-pane -->
                    <div class="tab-pane fade" id="nav-photo" role="tabpanel" aria-labelledby="nav-photo-tab">
                        <div class="row mt-5">
                            <div class="col-md-4">
                                <blockquote>
                                    <p>Photography is the simplest thing in the world, but it is incredibly complicated to make it really work.</p>
                                    <cite>MARTIN PARR</cite>
                                </blockquote>
                            </div>
                            <!-- /.col-md-4 -->
                            <div class="col-md-4">
                                <p>Donec vel ultricies purus. Nam dictum sem, ipsum aliquam . Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus. Praesent sed nisi eleifend, fermentum orci amet, iaculis libero.</p>
                            </div>
                            <!-- /.col-md-4 -->
                            <div class="col-md-4">
                                <p>Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit. In maximus ligula metus pellentesque mattis.</p>
                            </div>
                            <!-- /.col-md-4 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- .tab-pane -->
                </div>
                <!-- .tab-content -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /#servcies -->

        <!-- Section: Banner 2 -->
        <section id="banner-with-imac" class="my-5">
            <div class="container-fluid bg-dark py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 align-self-center text-gray">
                            <h5>Looking for exclusive digital services?</h5>
                            <p class="mt-3">Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Integer non dapibus diam, ac eleifend lectus.</p>
                            <a href="#" class="btn btn-gray mt-3">Let's Talk</a>
                            <!-- /.btn -->
                        </div>
                        <!-- /.col-md-6 -->
                        <div class="col-md-6 text-center">
                            <img class="imac" src="/public/images/iMac.png" alt="">
                        </div>
                        <!-- /.col-md-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.container-fluid bg-dark -->
        </section>
        <!-- /#banner-with-imac -->

        <!-- Section: Portfolio -->
        <section id="portfolio" class="mt-5">
            <div class="container-fluid py-2">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <h4 class="text-center py-5">Portfolio</h4>

                        <p class="text-center pb-5">In auctor ex id urna faucibus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper metus pellentesque mattis. Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum nibh volutpat, accumsan purus.</p>
                    </div>
                </div>

                <nav class="">
                    <div class="nav nav-tabs justify-content-center" id="portfolio-nav-tab" role="tablist">
                        <a class="nav-item nav-link active text-center" id="nav-port-all-tab" data-toggle="tab" href="#nav-port-all" role="tab" aria-controls="nav-port-all" aria-selected="true">
                            <h6>All Works</h6>
                            <!-- /.icon-strategy -->
                        </a>
                        <!-- nav-item -->
                        <a class="nav-item nav-link text-center" id="nav-port-branding-tab" data-toggle="tab" href="#nav-port-branding" role="tab" aria-controls="nav-port-branding" aria-selected="true">
                            <h6>Branding</h6>
                            <!-- /.icon-strategy -->
                        </a>
                        <!-- nav-item -->
                        <a class="nav-item nav-link text-center" id="nav-port-design-tab" data-toggle="tab" href="#nav-port-design" role="tab" aria-controls="nav-port-design" aria-selected="true">
                            <h6>Design</h6>
                            <!-- /.icon-strategy -->
                        </a>
                        <!-- nav-item -->
                        <a class="nav-item nav-link text-center" id="nav-port-photo-tab" data-toggle="tab" href="#nav-port-photo" role="tab" aria-controls="nav-port-photo" aria-selected="true">
                            <h6>Photography</h6>
                            <!-- /.icon-strategy -->
                        </a>
                        <!-- nav-item -->
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-port-all" role="tabpanel" aria-labelledby="nav-port-all-tab">
                        <div class="row mt-5">
                            <div class="col-md-4">
                                <img src="https://loremflickr.com/g/420/200/paris" alt="">
                            </div>
                            <!-- /.col-md-4 -->
                            <div class="col-md-4">
                                <img src="https://loremflickr.com/g/420/200/austin" alt="">
                            </div>
                            <!-- /.col-md-4 -->
                            <div class="col-md-4">
                                <img src="https://loremflickr.com/g/420/200/paris" alt="">
                            </div>
                            <!-- /.col-md-4 -->
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://loremflickr.com/g/420/200/london" alt="">
                            </div>
                            <!-- /.col-md-4 -->
                            <div class="col-md-4">
                                <img src="https://loremflickr.com/g/420/200/rio" alt="">
                            </div>
                            <!-- /.col-md-4 -->
                            <div class="col-md-4">
                                <img src="https://loremflickr.com/g/420/200/california" alt="">
                            </div>
                            <!-- /.col-md-4 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- .tab-pane -->
                    <div class="tab-pane fade" id="nav-port-branding" role="tabpanel" aria-labelledby="nav-port-branding-tab">
                        <div class="row mt-5">
                            <div class="col-md-4">
                                <img src="https://loremflickr.com/g/420/200/rio" alt="">
                            </div>
                            <!-- /.col-md-4 -->
                            <div class="col-md-4">
                                <img src="https://loremflickr.com/g/420/200/california" alt="">
                            </div>
                            <!-- /.col-md-4 -->
                            <div class="col-md-4">
                                <img src="https://loremflickr.com/g/420/200/paris" alt="">
                            </div>
                            <!-- /.col-md-4 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- .tab-pane -->
                    <div class="tab-pane fade" id="nav-port-design" role="tabpanel" aria-labelledby="nav-port-design-tab">
                        <div class="row mt-5">
                            <div class="col-md-4">
                                <img src="https://loremflickr.com/g/420/200/texas" alt="">
                            </div>
                            <!-- /.col-md-4 -->
                            <div class="col-md-4">
                                <img src="https://loremflickr.com/g/420/200/greece" alt="">
                            </div>
                            <!-- /.col-md-4 -->
                            <div class="col-md-4">
                                <img src="https://loremflickr.com/g/420/200/spain" alt="">
                            </div>
                            <!-- /.col-md-4 -->
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://loremflickr.com/g/420/200/rome" alt="">
                            </div>
                            <!-- /.col-md-4 -->
                            <div class="col-md-4">
                            </div>
                            <!-- /.col-md-4 -->
                            <div class="col-md-4">
                            </div>
                            <!-- /.col-md-4 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- .tab-pane -->
                    <div class="tab-pane fade" id="nav-port-photo" role="tabpanel" aria-labelledby="nav-port-photo-tab">
                        <div class="row mt-5">
                            <div class="col-md-4">
                                <img src="https://loremflickr.com/g/420/200/colorado" alt="">
                            </div>
                            <!-- /.col-md-4 -->
                            <div class="col-md-4">
                                <img src="https://loremflickr.com/g/420/200/canada" alt="">
                            </div>
                            <!-- /.col-md-4 -->
                            <div class="col-md-4">

                            </div>
                            <!-- /.col-md-4 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- .tab-pane -->
                </div>
                <!-- .tab-content -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /#portfolio -->

        <!-- Section: Banner 3 -->
        <section>
            <div class="container-fluid bg-dark py-5">
                <div class="row">
                    <div class="col-md align-self-center text-gray text-center">
                        <h5>LIKE OUR CREATIVE WORKS?</h5>
                        <a href="#" class="btn btn-gray mt-3">Start Project</a>
                        <!-- /.btn -->
                    </div>
                    <!-- /.col-md-10-->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid bg-dark -->
        </section>
        <!-- /#banner-with-imac -->
    </body>

</html>
